form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;
    max-width: 780px;
    min-width: 300px;

    row-gap: 50px;
    padding: 20px 10px;
    margin: 20px;

    border-radius: 10px;
    background-color: var(--login-main-background-color-dark);
    color: var(--login-text-color-dark);
    border-bottom: 1px solid var(--main-stroke-color);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.48);

}

.login-title {
    font-size: 41px;
}

.register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

}

.error-message {
    color: var(--error-text-color-dark);
    font-size: 30px;
}

/* state two */
@media all and (max-width: 1130px) {

}

/* state three */
@media all and (max-width: 758px) {
    .login-card {
        width: 80%;
        max-width: 450px;
        row-gap: 20px;
        padding: 15px;
    }

    .login-title {
        font-size: 32px;
    }

    .error-message{
        font-size: 22px;
    }
    .login-card .input-field {
        width: 90%;
    }
}