.input-field {
    display: flex;
    padding: 20px;
    height: 45px;
    width: 100%;
    max-width: 570px;
    border-radius: 25px;
    background-color: var(--navbar-secondary);
    border: none;
    font-size: 21px;
}

.input-error {
    color: var(--error-text-color-dark);
    font-size: 22px;
}

.input-field[type=checkbox], .input-field[type=radio] {
    max-height: 25px;
    height: 100%;
    min-height: 25px;
    max-width: 25px;
    width: 100%;
    min-width: 25px;
    accent-color: green;
}

/* state three */
@media all and (max-width: 758px) {
    .input-field {
        padding: 10px;
        height: 38px;
        font-size: 18px;
    }
    .input-error {
        color: var(--error-text-color-dark);
        font-size: 17px;
    }

    .input-field[type=checkbox], .input-field[type=radio] {
        max-height: 20px;
        height: 100%;
        min-height: 20px;
        max-width: 20px;
        width: 100%;
        min-width: 20px;
    }
}