.input-field {
    display: flex;
    padding: 20px;
    height: 45px;
    width: 100%;
    max-width: 570px;
    border-radius: 25px;
    background-color: var(--navbar-secondary);
    border: none;
    font-size: 21px;
}

.input-error {
    color: var(--error-text-color-dark);
    font-size: 22px;
}

/* state two */
@media all and (max-width: 1130px) {

}

/* state three */
@media all and (max-width: 758px) {
    .input-field {
        padding: 10px;
        height: 38px;
        font-size: 18px;
    }
    .input-error {
        color: var(--error-text-color-dark);
        font-size: 17px;
    }

}