form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.change-password-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;
    max-width: 780px;
    min-width: 300px;

    row-gap: 50px;
    padding: 20px 10px;
    margin: 20px;

    border-radius: 10px;
    border-bottom: 1px solid var(--main-stroke-color);
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.48);

}

.change-password-card.dark-mode {
    background-color: var(--login-main-background-color-dark);
    color: var(--login-text-color-dark);

}

.change-password-card.light-mode {
    background-color: var(--login-main-background-color-light);
    color: var(--login-text-color-light);
}

.change-password-title {
    font-size: 41px;
}


/* state two */
@media all and (max-width: 1130px) {

}

/* state three */
@media all and (max-width: 758px) {
    .change-password-card {
        width: 80%;
        max-width: 450px;
        row-gap: 20px;
        padding: 15px;
    }

    .change-password-title {
        font-size: 32px;
    }

    .change-password-card .input-field {
        width: 90%;
    }
}