.game-card-main {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin: 10px;

    width: 299px;
    border-radius: 12px;
    box-shadow: 0 0 25px 11px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.game-card-main.dark-mode{
    background-color: var(--game-card-main-dark);
}

.game-card-main.light-mode {
    background-color: var(--game-card-main-light);
}

.game-text-label {
    position: absolute;
    text-align: center;

    padding: 5px 10px;
    width: fit-content;
    height: 30px;
    font-size: 15px;
    border-radius: 12px 0;
    background: linear-gradient(83deg, #FF9D00 30%, #FFB94A 100%);

    text-transform: uppercase;
}

.game-card-picture {
    flex: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    width: 100%;
}

.game-image {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 30px;
    border-bottom: 2px solid var(--main-stroke-color);

}

.game-card-title {
    flex-grow: 1;
    padding: 10px 15px 0 15px;
    font-size: 24px;
    word-break: break-word;
}

.game-card-main.dark-mode .game-card-title {
    color: var(--game-card-text-dark);
}

.game-card-main.light-mode .game-card-title {
    color: var(--game-card-text-light);
}


/* state two */
@media all and (max-width: 1130px) {

}

/* state three */
@media all and (max-width: 758px) {
    .game-card-main {
        margin: 10px;
        width: 234px;
        border-radius: 12px;

    }

    .game-text-label {
        padding: 5px 8px;
        height: 25px;
        font-size: 12px;
    }

    .game-card-title {
        font-size: 20px;
    }
}