.status-message {
    font-size: 30px;
}

.status-loading {
    color: var(--loading-text-color-dark);
}

.status-error {
    color: var(--error-text-color-dark);
    cursor: wait;
}

.status-succes {
    color: var(--succes-text-color-dark);
}

body .status-loading {
    cursor: wait;
}

@media (max-width: 758px) {
    .status-message {
        font-size: 22px;
    }
}